<?php

declare(strict_types=1);

namespace Form2Mail;

/*
 * List of allowed origins
 * Needed for CORS;
 */
$options['allowedOrigins'] = [];

/*
 * Allowed methods for above origins.
 * Map route names to request methods
 * Multiple methods are specified as a comma separated string.
 */
//$options['allowedMethods'] = [
//    'sendmail' => 'POST',
//    'details' => 'GET',
//];


/*
 * Do not change below
 */
return ['options' => [Options\ModuleOptions::class => ['options' => $options]]];
