<?php

/**
 * AMS Form2Mail
 *
 * @copyright 2013-2021 CROSS Solution

 */

declare(strict_types=1);

use Laminas\Stdlib\ArrayUtils;

$width            = "600px";
$mail_blue_color  = "#7b1738";
$mail_white_color = "#fff";
$style_p          = "font-family: Arial, Helvetica, sans-serif; font-weight: 400; font-size: 15px; line-height: 1.8;";
$mapLabel = [
    'age' => 'Alter',
    'city' => 'Standort',
    'experience' => 'Erfahrung',
    'availability' => 'Verfügbarkeit'
];
$mapValue = [
    'partial' => 'Teilzeit',
    'full' => 'Vollzeit',
    'half' => 'unter 20 Stunden pro Woche'
];

?>
       <?= $this->partial('form2mail/mail/header', [
            'title' => $mail->getSubject(),
            'width'=>$width, 'mail_blue_color'=>$mail_blue_color,
            'mail_white_color' => $mail_white_color,
            'org' => $org]); ?>
<h1>
    <?= $job ? 'Bewerbung auf ' . $job->getTitle() : 'Initiativbewerbung'?>
</h1>

<table class="data-display">
<tr><td>Name:</td><td><?=$user->getDisplayName(false)?></td></tr>
<tr><td>Telefon:</td><td><?=$user->getPhone()?></td></tr>
<tr><td>E-Mail:</td><td><?=$user->getEmail()?></td></tr>

<?php foreach ($extras as $key => $value):?>
    <tr><td><?=$mapLabel[$key] ? : $key ?></td>
    <td><?=$mapValue[$value] ? : $value ?></td></tr>
    <?php endforeach ?>
</table>

<?= $this->partial('form2mail/mail/footer', ['width' => $width, 'mail_white_color' => $mail_white_color, 'style' => $style_p]); ?>


