<?php

/**
 * AMS Form2Mail
 *
 * @copyright 2013-2021 CROSS Solution

 */

declare(strict_types=1);

?>
                                    <hr>
                                    <p style="<?=$this->style?>">
                                        Diese Bewerbung wurde per Online-Formular übermittelt.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr><!-- end:tr -->
            </tr>
        </table>
    </div>
</center>
</body>
</html>
