<?php

/**
 * AMS Form2Mail
 *
 * @copyright 2013-2021 CROSS Solution
 */

declare(strict_types=1);

?>
<!DOCTYPE html>
<html>
<head>
    <title>Erstellen Sie Ihr Bewerbungsformular</title>
</head>
<body>
<p>Einleitungstext</p>
<p>Link zum Formular <?=$this->link($this->formLink)?></p>
</body>
</html>
