@import "../../../modules/Core/less/yawik.less";

@g24-blue: #243b84;
@g24-grey:  #242424;
@g24-white: #ffffff;

@fa-font-path: '/dist/fonts';

@font-size-base: 14px;
@font-family-sans-serif: sans-serif;
@border-radius-base: 0px;
@headings-font-weight: 600;
@brand-primary: @g24-blue;
@footer-height: 49px;
@navbar-height: 80px;
@navbar-default-link-color: green;
@navbar-default-link-hover-color: @g24-white;
@navbar-default-bg: transparent;
@nav-link-hover-bg: transparent;
@navbar-inverse-toggle-hover-bg: @gray-lighter;
@dropdown-link-active-bg: @gray-lighter;
@dropdown-link-active-color: @g24-blue;
@dropdown-link-hover-color: @g24-blue;

@panel-border-radius: 0px;
@panel-primary-heading-bg: #fff;

@btn-border-radius-base: 0px;

@padding-small-vertical: 5px;
@border-radius-base: 4px;

@link-color: @g24-grey;
@link-hover-color: @g24-grey;
@nav-pills-active-link-hover-color: green;

@btn-primary-bg: @g24-blue;

@jumbotron-padding: 0px;

@font-size-h2: 21px;
@font-size-h3: 14px;
@font-size-h4: 16px;
@font-size-h5: 14px;

@yk-tab-bg: lightgray;
@yk-tab-color: @g24-blue;
@yk-tab-active-bg: @g24-blue;
@yk-tab-active-color: lightgray;

html {
    height: 100%;
}

body {
  margin-top: 0;
  height: 100%;
  overflow-x: hidden;
}

.navbar-header {
    .menu-logo {
        width: 200px;
    }
}

h1 {

font-weight:300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
-webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.featured-image-box {
    border: 1px solid #ccc;
    background-color:#fff;
    margin-bottom: 30px;
    position: relative;

    .img-box {
         min-height: 1px;
         position: relative;
        padding-bottom: 30%;
        vertical-align: top;
    }



    .content-area {
        background-color: @g24-white;
        padding: 20px;
    }
    z-index: 1000;
}

.img-box {
    background-color: #fff;
    display: block;
    margin: 10px auto;
    position: relative;
}
.center-block {
      max-width: 100%;
    position: absolute;
    max-height: 100%;
    margin: auto;
    bottom: 0;
    right: 0;
    top: 0;
    padding: 0 10px;
    left: 0;
}

     .input-group .form-control  {
             border-radius:0

         }

#jobs-list-filter-wrapper {
    padding: 0;


    .input-group {
        margin-left: auto;
    	margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        width:100%
    }


    .search-form-container {
        background-color: @g24-blue;
        border-radius: 0;
        position: relative;
        color: #fff;
        padding: 20px 0;
        .btn-primary {
            background-color: @btn-info-bg;
            border-color: @btn-info-border;
            color: @btn-info-color;
        }
        .btn-primary:hover {
            background-color: darken(@btn-info-bg,10%);
        }

    }
}

.home #jobs-list-filter-wrapper {
    .search-form-container {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        border: none;
        padding: 20px 20px;
        .btn-primary {
            background-color: @btn-primary-bg;
            border-color: @btn-primary-border;
            color: @btn-primary-color;
        }
        .btn-primary:hover {
            background-color: darken(@btn-primary-bg,10%);
        }
    }
}

.apply {
    bottom: 0;
    text-align: center;
    background: #ddd;
    line-height: 2em;
    position: absolute;
    width: 100%;
}


.yk-notifications {
  margin-top:0px;
}


#wrapper {
    text-align: center;
    min-height: 600px;
    #bg-full {
        position: absolute;
        width: 100%;
    }
    .bg-static {
        background-image: url(background_gastrojob24_img.jpg);
        background-color: #999;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        min-height: 600px;
    }

}

.home #header {
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    background-image: linear-gradient( #121212, rgba(0, 0, 0, 0.001));
}

#form-jobsbymail-subscribe-form {
    button.btn-info {
        background-color: @btn-danger-bg;
        border-color: @btn-danger-border;
        color: @btn-danger-color;
    }
    button.btn-info :hover {
        background-color: darken(@btn-danger-bg,10%);
    }
}

    #footer {
        background-color: #243b84;
        padding: 25px 0;
        font-size: 15px;
        line-height: 24px;
        color: #b6bed6;

        nav ul li a {
            text-decoration: underline;
        }
        a {
            color: #b6bed6;
        }
        h5 {
            color: #fff;
        }
        hr {
            border-top: 1px solid @g24-blue;
        }
    }

    .carousel-indicators { bottom: -10px; }

    .scroll-arrow {
        position: absolute;
        bottom: 30px;
        bottom: 3rem;
        right: 0;
        left: 0;
        width: 55px;
        width: 5.5rem;
        margin: auto;
        cursor: pointer;

        .arrow-icon {
            position: relative;
            border: solid #fff;
            border-width: 0 5px 5px 0;
            border-width: 0 0.5rem 0.5rem 0;
            padding: 20px;
            padding: 2rem;
            display: inline-block;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-animation: pulse 4s infinite;
            -moz-animation: pulse 4s infinite;
            -o-animation: pulse 4s infinite;
            animation: pulse 4s infinite;
        }
        .scroll-arrow .arrow-icon:last-child {
            margin-top: -30px;
            margin-top: -3rem;
        }
    }

    .jumbotron {
        margin-top: 40px;
        position: relative;
        margin-bottom: 25px;
        padding: 0;
        color: #fff;
        background-color: transparent;
        h1 {
            color: #fff;
            /* text-shadow: 0px 0px 11px #111; */
            font-size: 31px;
            font-weight: 300;
        }
    }

    #searchform-wrapper {
        position: absolute;
    }

    .frame {
        padding-bottom: 85%;
        vertical-align: top;
        border: 1px solid #DDD;
        position: relative;
        min-height: 1px;
        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            padding: 0 10px;
        }
    }

    h2 {
        color: #22436c;
        margin-bottom: 30px;
        font-weight: 300;
    }

    .text-center {
        text-align: center;
    }

    h3 {
        color: #22436c;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 12px;

    }

    .h6 {
        color: #22436c;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 12px;
        font-size: 14px;
    }

    .wp-content p a {

        text-decoration:underline
    }

    main {

        ul {
            padding-left: 15px;

            li {
                display: list-item;
                list-style-position: outside;

                a {

                }
            }
        }

        .region {
            text-align: center;

            h3 {
                display: none;
            }
            div {
                display: inline;
            }
            ul {
                display: inline;
                li {
                    padding-left: 3px;
                    padding-right: 3px;
                    list-style: none;
                    display: inline-block;
                }
            }
        }
    }

    .search-form-container {
        .btn-default {
            position: absolute;
            right: 100px;
            top: 10px;
        }
        .btn-primary {
            height: 55px;
            font-size: 16px;
            padding: 0 20px;
        }
        input {
            height: 55px;
            font-size: 16px;
            padding: 0 20px;
        }
    }

    .home #yk-login-info {
        position: relative;
        background-color: transparent;
        .dropdown > a {
            color: @g24-white;
        }
    }

    .collapsed {
        background-color: transparent;
        border-color: @g24-white;
        border-radius: 4px;
        .icon-bar {
            background-color: @g24-white;
        }
    }

    .home .navbar-brand {
        color: @g24-white;
    }
    .home .navbar-brand {
        color: @g24-blue;
    }
    .navbar-brand {
       display: block;
        margin-top: 33px;
        padding: 0;
         height: auto;
    }
 .navbar-brand>img {
    margin-left:5px;
    }
    @media(min-width: @screen-sm) {
        #main-navigation {
            font-weight: 600;

            ul li a.inverted {
                border: 1px solid @g24-blue;
                background-color: @g24-blue;
                color: @g24-white;
            }
            ul li a.inverted:hover {
                background-color: darken(@g24-blue,10%);
            }
            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 30px;
                font-weight:300;
                font-size:16px
            }
            .dropdown-menu > li > a:hover {
                background-color: @navbar-inverse-toggle-hover-bg;
            }

        }

        .home #main-navigation {
            height: 145px !important;
            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 30px;
                color: @g24-white;
            }
            a:hover {
                background-color: transparent;
            }
            ul li a.inverted {
                border: 1px solid @g24-white;
                background-color: transparent;
            }
        }
    }

    // Menü auf Handy
    @media(max-width: @screen-sm) {
        #main-navigation {
            height: inherit;
            ul li a.inverted {
                border: 1px solid @g24-grey;
                background-color: @g24-blue;
                color: @g24-white;
            }
            .dropdown-menu>li>a {
                color: @g24-white;
            }
            a:hover {
                background-color: @g24-blue;
            }
        }
        .home #main-navigation {
            a {
                color: @g24-white;
            }
            a:hover {
                background-color: @g24-blue;
            }
        }
        button.collapsed {
            border-color: @g24-grey;
            background-color: @g24-blue;
        }

    }

    // Aufklappbare Kategorien
    a[data-toggle="collapse"] {
        &:before {
            font-family: "FontAwesome";
            content: "\f077";
            float: right;
        }
        &.collapsed:before {
            content: "\f078";
        }
        span {
            display: none;
        }
        &.collapsed span {
            display: block;
        }
    }

    // Preistabellen
    #rpt_pricr {
        .panel-primary {
            border-color: #f1f1f1;
            padding:10px;
            >.panel-heading {
                color: black;
                padding-top:20px;
                margin: 0;
                text-align:center!important;
                font-size:20px;
            }
        }
        .btn {
            display:block;
            white-space: normal;
        }


        .rpt_head {
            .rpt_price {
                font-size: 28px;
                font-weight: 400;
                text-align: center;
                strike {
                    color: #b2b2b2;
                    padding-right:5px;
                    font-size: 15px;
                    text-align: center;
                }
            }
            .rpt_subtitle {
                text-align: center;
                font-size: 16px;
            }
            .rpt_description {
                margin-top: 10px;
                font-size: 12px;
                color: #ccc;
                text-align:center;
            }
            a {
                text-align: center;
            }
        }
        .rpt_yk_inactive {
            color: gray;
        }
    }

    // links im Wordpress-Bereich
    #wp-content1 {

        a:hover {
            background-color: lightgray;
        }
        ul li {
            list-style: inside;
        }
    }

    #form-orders-settings .daf-desc,
    #sf-general-customerNote {
        display: none;
    }
