<?php
/**
 * YAWIK
 *
 * General layout template file. Defines the general layout.
 *
 * @copyright (c) 2019 Cross Solution (http://cross-solution.de)
 * @license   MIT
 */
/* @var $options \Core\Options\ModuleOptions */
$options = $this->services('Core/Options');
$languages = $options->getSupportedLanguages();
// See: http://yawik.readthedocs.org/en/latest/modules/core/notifications.html
$notifications = $this->partial('core/notifications');
// set default page title
$this->headTitle($this->translate('Bewerbungs per E-Mail'))->setSeparator(' - ')->setAutoEscape(false);
// set default keywords
$this->headMeta()->setCharset("utf-8");
$this->headMeta()->appendName("keywords", "Bewerbungsformular");
$this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0');
$this->configHeadScript()->setAllowArbitraryAttributes(true);
$this->configHeadScript()->prependFile($this->basepath('modules/Applications/js/application.form.js'));
$this->configHeadScript()->prependFile($this->basepath('dist/js/core.js'));
$this->configHeadScript()->appendScript('var lang="' . $this->params('lang') . '";'
    . 'var basePath="' . $this->basePath() . '";');
$this->headLink()->prependStylesheet($this->basePath('modules/Form2Mail/dist/layout.css'));
foreach ($languages as $lang) {
    $this->headLink()->appendAlternate(
        preg_replace('~^'.$this->basepath('/'.$this->params('lang')).'~',
            $this->basepath('/'.$lang),$_SERVER['REQUEST_URI']),
        'hreflang',
        $this->headTitle()->setTranslator()->renderTitle() ,
        array('hreflang'=>$lang));
}
?>
<?php echo $this->doctype(); ?>
<html lang="<?php echo $this->params('lang') ?>">
<head>
    <?php echo $this->headTitle() ?>
    <?php echo $this->headMeta() ?>
    <?php echo $this->configHeadScript() ?>
    <?php echo $this->headLink() ?>
    <?php echo $this->headStyle() ?>
</head>
<body>
<main id="content" class="col-md-12">
    <?php echo $notifications?>
    <?php echo $this->content; ?>
</main>
<!-- /container -->
<footer id="yk-footer">
 <div class="container">
    <div class="row">
           <div class="col-md-12" align="right">
                <span class="pull-right"><small>
                    &copy; <?php echo date("Y")?> <a href="https://www.personalwerk.de">Personalwerk</a>.
                        | <a href="<?php echo  $this->basePath($this->params('lang').'/content/imprint')?>"><?php echo $this->translate('Imprint') ?></a>
                        | created with <i class="fa fa-heart"></i> by <a href="https://yawik.org">YAWIK</a>
                 </small></span>
           </div>
    </div>
  </div>
</footer>
</body>
</html>
